a{
    texs-decoration:none;
    color:black
    margin-top:  20px;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#top{
    background: yellow#FCDBOO;

}
.font1{
    font-family: Arial;
font-size: 36px;
font-size: 700;
line-height: 41.4px;
text-align: left;

}
.food{
    width:;
    height: ;
}
.text2{
   width: 873px;
   height: 234px;
   padding-left: 70px;
   padding-top: 50px;
}
.blok1{
    width: 337px;
    height: 359px;
    border-radius: 12px;
    background: #d358589d;
} meder{ingtexs-al
    display: flex;
    justify-content: 
    align-items:center
.blok1{
    color:aliceblue
    text-aling:center;

}
.ramzan{
    padding-top: 50px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-align: justify;
    justify-content: space-around;
    align-items: center;
}
.fon{   
    color: aliceblue;
    #end{
        background: #404040;
        text-align: center;        
    }


    